@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "reset.css"; */

body {
    background-color: mintcream ;
    font-family: 'Lato', sans-serif;
}


nav{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

nav > a {
    text-decoration: none;
}

#blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 5rem;
    font-family: 'Lato', sans-serif;
}

#blog article {
    width: 50%;
    margin-top: 2rem;
}


@media (max-width: 1024px) {
    #blog article {
        width: 95%;
    }
}

.post_title {
    display: flex;
    align-items: center;
}

.post_title a{
    color: steelblue;
    text-decoration: none;
    margin-left: .5rem;
}

.post_title a:last-child {
    color: red;
}

.post_title > div {
    margin-left: auto;
}

.post-author {
    margin: .5rem 0;
}

.post-expert {
    margin-bottom : 1rem;
}

.post-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-detail > h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
}